body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-body {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 400px;
    max-height: 500px;
    max-width: 500px;
    border: 0.5px solid  black;
}
.calc-screen {
    border: 0.5px solid  black;
    margin: 5px 5px 5px 5px;
    text-align: right;
    font-size: 80px; 
    line-height: ;
}
.btns-container {
    display: grid;
    border: 0.5px solid black;
    margin: 0px 5px 5px 5px;
    flex-grow: 3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.calc-button {
    border: 0.1px solid black;
}